<template>
    <div class="menu">
        <v-navigation-drawer
            width="280"
            app
            clipped
            permanent
            mini-variant
            expand-on-hover
        >
            <v-list nav dense>

                <v-img class="im" src="./../../content/images/cashcare.jpg" alt="cashcare" width="70%" height="70%"  />

                <v-list-item>
                    <div class="padding">
                        <v-icon left>mdi-finance</v-icon>
                    </div>
                    <v-btn @click="routerToHistory" text class="button">
                        {{ $t("menubar.history") }}</v-btn
                    >
                </v-list-item>

                <v-list-item>
                    <div class="padding">
                        <v-icon left>mdi-credit-card-plus-outline</v-icon>
                    </div>
                    <v-btn @click="routerToNewTransaction" text class="button">
                        {{ $t("menubar.newTrans") }}</v-btn
                    >
                </v-list-item>

                <v-list-item>
                    <div class="padding">
                        <v-icon left>mdi-bank-transfer</v-icon>
                    </div>
                    <v-btn @click="routerToStandingTransaction" text class="button">
                        {{ $t("menubar.standingTrans") }}</v-btn
                    >
                </v-list-item>

                <v-list-item>
                    <div class="padding">
                        <v-icon left>mdi-account-circle</v-icon>
                    </div>
                    <v-btn @click="routerToAccount" text class="button">
                        {{ $t("menubar.profile") }}</v-btn
                    >
                </v-list-item>


                <v-list-group
                    :key="this.$i18n.t('menubar.language')"
                    no-action
                    :prepend-icon="'mdi-translate'"
                    :value="false"
                    color="light-blue darken-3"
                    item-color="light-green"
                >
                    <template v-slot:activator>
                        <v-list-item-title class="title">
                            {{ $t("menubar.language") }}
                        </v-list-item-title>
                    </template>

                    <v-list-item>
                        <v-list-item-icon>
                            <flag iso="gb" />
                        </v-list-item-icon>
                        <v-list-item-title class="title">
                            <v-btn class="button" @click="setLang('en')" text>
                                {{ $t("menubar.english") }}
                            </v-btn>
                        </v-list-item-title>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-icon>
                            <flag iso="de" />
                        </v-list-item-icon>
                        <v-list-item-title class="title">
                            <v-btn class="button" @click="setLang('de')" text>{{
                                    $t("menubar.german")
                                }}</v-btn>
                        </v-list-item-title>
                    </v-list-item>
                </v-list-group>

                <v-list-item>
                    <div class="padding">
                        <v-icon left>mdi-login-variant</v-icon>
                    </div>
                    <v-btn @click="logOut" text class="button">
                        {{ $t("menubar.logout") }}
                    </v-btn>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>

export default {
    data() {
        return {
            langs: ["en", "de"]
        };
    },
    methods: {
        setLang(language) {
            this.$root.$i18n.locale = language;
        },
        routerToHistory() {
            if (this.$route.path != "/cust/transaction/history") {
                this.$router.replace({ path: "/cust/transaction/history" });
            }
        },
        routerToNewTransaction() {
            if (this.$route.path != "/cust/transaction/new") {
                this.$router.replace({ path: "/cust/transaction/new" });
            }
        },
        routerToStandingTransaction() {
            if (this.$route.path != "/cust/transaction/standing") {
                this.$router.replace({ path: "/cust/transaction/standing" });
            }
        },
        routerToAccount() {
            if (this.$route.path != "/cust/account") {
                this.$router.replace({ path: "/cust/account" });
            }
        },

        logOut() {
            this.$router.replace({ path: "/" });
        }
    }
};
</script>

<style scoped>
.title {
    text-align: left;
    font-size: 83% !important;
}

.padding {
    padding-right: 4%;
}
.button {
    text-transform: none;
    letter-spacing: 0cm;
    font-size: small;
}
.im{
  margin-left: 15%;
}
</style>
