<template>
    <div class="locale-changer">
        <v-select
            color="light-blue darken-2"
            item-color="light-blue"
            v-model="$i18n.locale"
            :items="langs"
        >
        </v-select>
    </div>
</template>

<script>
export default {
    name: "locale-changer",
    data() {
        return { langs: ["en", "de"] };
    }
};
</script>
<style scoped>
.locale-changer {
    width: 30%;
}
</style>
