<template>

    <div>
        <v-alert v-if="isForbidden" class="alert" dense dismissible type="error">
            {{ $t("login.loginError") }}
        </v-alert>
        <v-alert v-else-if="errorOccurred" class="alert" dense dismissible type="error">
            {{ $t("login.connectionError") }}
        </v-alert>
        <v-alert v-else-if="showSessionTimeout" class="alert" dense dismissible type="error">
            {{ $t("login.sessionTimeout") }}
        </v-alert>

        <div class="select">
            <LanguageSwitch/>
        </div>

        <v-list id="liste">
            <v-list-item>
                <v-container class="img">
                    <v-img src="./../../../content/images/cashcare.jpg" alt="cashcare"/>
                </v-container>

            </v-list-item>
                <hr />


            <br />
            <br />
            <v-list-item>
                <v-container class="inputs">
                    <v-list class="textfield-list">
                        <v-form ref="form" @keyup.enter.native="logginIn">
                            <v-list-item class="textfield-list-item">
                                <v-text-field
                                    color="light-blue darken-3"
                                    type="text"
                                    v-model="username"
                                    :label="$t('login.username')"
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-list-item>
                            <v-list-item class="textfield-list-item">
                                <v-text-field
                                    color="light-blue darken-3"
                                    :type="show ? 'text' : 'password'"
                                    v-model="password"
                                    :label="$t('login.password')"
                                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                    @click:append="show = !show"
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-list-item>
                        </v-form>

                        <v-list-item class="textfield-list-item">

                            <v-btn
                                class="button"
                                color="light-blue darken-3"
                                @click="logginIn"
                            >

                                {{ $t('login.login') }}
                            </v-btn>

                        </v-list-item>
                    </v-list>


                </v-container>
            </v-list-item>
        </v-list>
    </div>

</template>


<script>
import LanguageSwitch from "@/components/LanguageSwitch.vue";
import {mapActions, mapGetters, mapState} from "vuex";

export default {
    name: "Login",
    components: {
        LanguageSwitch
    },
    data() {
        return {
            username: "",
            password: "",
            show: false,
            isForbidden: false,
            errorOccurred: false,
            rules: {
                required: v => (v || "").length > 0 || this.$t("rules.required"),
            }
        };
    },
    computed: {
        ...mapState({
            jwt: state => state.auth.jwt,
        }),

        showSessionTimeout() {
            return this.sessionTimeout !== null && this.sessionTimeout !== undefined;
        },

        ...mapGetters("auth", ["jwt", "sessionTimeout"])
    },
    methods: {
        ...mapActions("auth", ["login"]),


        //TODO Expection Handling
        async logginIn() {

            if (this.$refs.form.validate()) {
                let username = this.username;
                let password = this.password;
                const loginData = {username, password};
                var response = await this.login(loginData);

                if (response.status === 200) {

                    var jwtSplit = this.jwt.split('.', 3);
                    var info = JSON.parse(atob(jwtSplit[1]));

                    //TODO Sicherer Ersetzen
                    if (info.auth === "ROLE_ADMIN") {
                        this.$router.replace({path: "/admin/customerOverview"});
                    } else if (info.auth === "ROLE_USER") {
                        this.$router.replace({path: "/cust/transaction/history"});
                    }
                } else if (response === "400") {
                    this.errorOccurred = true;
                }
                console.log("RESPONSE VIEW");
                console.log(response);

            }


        }

    }
}
</script>

<style scoped>

#liste{
    width: 50%;
    margin-left: 25%;
}
.img {
    align-self: center;
    max-height: 40%;
    max-width: 40%;
}

.button {
    color: white;
    width: 40%;
    margin-left: 30%;
}

.select {

    float: right;

}

.textfield-list-item {
    width: 60%;
    margin-left: 20%;
    align-self: center;
}

.alert {

    padding-left: 45%;
}

</style>
