<template>


    <div class="not">

        <v-container class="img">
            <v-img src="./../../../content/images/NotFound.png" alt="cashcare" />
        </v-container>

        <v-btn id="button" color="light-blue darken-3" @click="routeToStart">   {{ $t('errors.404') }}</v-btn>

    </div>
</template>

<script>
export default {
    name: "NotFound",
    methods:{
        routeToStart(){
            this.$router.replace({path: "/"});
        }
    }
}
</script>

<style scoped>
.img{
    margin-top: 5%;
    width: 50%;
}
#button{
    margin-left: 40%;
    width: 20%;
    color: white;
    position: absolute;
    bottom: 2%;
}

</style>
