<template>
    <div class="AdminAccount">

        <header>
            <v-chip
                id="title"
                color="light-blue darken-3"
                label
                text-color="white"
                x-large
            >{{ $t("adminAccount.adminAccount") }}
            </v-chip
            >
        </header>

        <div class="details">
            <v-form ref="form">
                <v-container>

                    <div class="chip">
                        <v-chip
                            color="light-blue darken-3"
                            label
                            text-color="white"

                        >{{ $t("adminAccount.accountInfo") }}
                        </v-chip
                        >
                    </div>

                    <v-row class="mb-2" no-gutters>
                        <v-col md="6" sm="5">
                            <p>{{ $t("basics.username") }}</p>
                        </v-col>
                        <v-col md="3" offset-md="0" offset-sm="2" sm="5">
                            <v-text-field
                                v-model="username"
                                clearable
                                color="light-blue darken-3"
                                dense
                                disabled
                                outlined
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>

                    <div class="chip">
                        <v-chip
                            color="light-blue darken-3"
                            label
                            text-color="white"
                        >{{ $t("adminAccount.personalData") }}
                        </v-chip
                        >
                    </div>

                    <v-row class="mb-2" no-gutters>
                        <v-col md="6" sm="5">
                            <p>{{ $t("basics.lastname") }}</p>
                        </v-col>
                        <v-col md="3" offset-md="0" offset-sm="2" sm="5">
                            <v-text-field
                                v-model="surname"
                                clearable
                                :disabled="!toggleDisable"
                                color="light-blue darken-3"
                                dense
                                outlined
                                :rules="[rules.required]"
                                @keydown="blockSpecialChar('input', $event)"
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row class="mb-2" no-gutters>
                        <v-col md="6" sm="5">
                            <p>{{ $t("basics.firstname") }}</p>
                        </v-col>
                        <v-col md="3" offset-md="0" offset-sm="2" sm="5">
                            <v-text-field
                                v-model="forename"
                                clearable
                                :disabled="!toggleDisable"
                                color="light-blue darken-3"
                                dense
                                outlined
                                :rules="[rules.required]"
                                @keydown="blockSpecialChar('input', $event)"
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row class="mb-2" no-gutters>
                        <v-col md="6" sm="5">
                            <p>{{ $t("basics.email") }}</p>
                        </v-col>
                        <v-col md="3" offset-md="0" offset-sm="2" sm="5">
                            <v-text-field
                                v-model="email"
                                :disabled="!toggleDisable"
                                clearable
                                color="light-blue darken-3"
                                dense
                                outlined
                                :rules="[rules.required, rules.emailRule]"
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row class="mb-12" no-gutters>
                        <v-col md="6" sm="5">
                            <p>{{ $t("basics.birthday") }}</p>
                        </v-col>
                        <v-col md="3" offset-md="0" offset-sm="2" sm="5">
                            <v-text-field
                                v-model="birthday"
                                disabled
                                color="light-blue darken-3"
                                dense
                                outlined
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row no-gutters>
                        <v-col>
                            <v-btn
                                v-if="this.edit == false"
                                class="lBtn"
                                color="light-blue darken-3"
                                dark
                                large
                                @click="toggleMethod()"
                            >
                                {{ $t("basics.edit") }}
                            </v-btn>
                            <v-btn
                                v-else
                                class="lBtn"
                                color="red lighten-1"
                                dark
                                large
                                @click="toggleMethod()"
                            >
                                {{ $t("basics.cancel") }}
                            </v-btn>
                        </v-col>
                        <v-col>
                            <v-btn
                                id="rBtn"
                                color="light-blue darken-3"
                                dark
                                large
                                @click="onSaveButton()"
                            >
                                {{ $t("basics.save") }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>
        </div>

        <AdminMenuBar/>

    </div>

</template>

<script>

import AdminMenuBar from "@/components/AdminMenuBar.vue";
import {getCurrentAccount, updateAdmin} from '../../services/account';
import {mapGetters} from "vuex";

export default {
    name: "AdminAccount",
    components: {
        AdminMenuBar
    },
    data() {
        return {
            edit: false,
            username: "",
            surname: "",
            forename: "",
            birthday: "",
            email: "",
            editBtn: this.$t("basics.edit"),
            toggleDisable: false,
            emailSafe: null,
            surnameSafe: null,
            forenameSafe: null,
            rules: {
                required: v => (v || "").length > 0 || this.$t("rules.required"),
                emailRule: v =>
                    !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || this.$t("rules.validEmail"),
                noNumbers: v => {
                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    for (var i = 0; i < v.length; i++) {
                        if (isNaN(parseFloat(v.charAt(i))) == false) {
                            return this.$t("rules.noNumbers");
                        }
                    }
                    return true;
                }
            }


        }
    },
    computed: {
        ...mapGetters("auth", ["jwt"])
    },
    methods: {
        toggleMethod() {
            this.toggleDisable = true;

            if (this.edit === false) {
                this.edit = true;
                this.emailSafe = this.email;
                this.forenameSafe = this.forename;
                this.surnameSafe = this.surname;
            } else {
                this.email = this.emailSafe;
                this.forename = this.forenameSafe;
                this.surname = this.surnameSafe;
                this.$refs.form.resetValidation();
                this.edit = false;
                this.toggleDisable = false;
            }
        },
        async onSaveButton() {
            if (this.edit === true) {
                if (this.$refs.form.validate()) {

                    try {

                        let response = await updateAdmin(this.username, this.jwt, this.forename, this.surname, this.email);
                        this.toggleDisable = false;
                        this.edit = false;

                    } catch (e) {
                        console.log(e);

                    }
                }

            }

        },
        blockSpecialChar(where, e) {
            var num = e.keyCode;
            if ((num <= 191 && num >= 188) || num === 50 || num === 55 || num === 219 || num === 226) {
                event.preventDefault();
            }
        }
    },
    async created() {

        try {
            let response = await getCurrentAccount(this.jwt);
            let user = response.data[0]
            this.username = user.login;
            this.surname = user.lastName;
            this.forename = user.firstName;
            this.birthday = user.birthday;
            this.email = user.email;

        } catch (e) {

        }

    }
}
</script>

<style scoped>
#title {
    width: 100%;
    padding-left: 46%;
    font-size: 150%;
    margin-bottom: 3%;
}

.details {
    width: 100%;
    padding-left: 25%;
}

.chip {
    padding-bottom: 3%;
}
</style>
