<template>

    <div class="AdminAdminOverview">

        <header>
            <v-chip
                id="title"
                color="light-blue darken-3"
                label
                text-color="white"
                x-large
            >
                {{ $t('adminOverview.adminOverview') }}
            </v-chip>
        </header>
        <!-- search so lassen oder wie in vuetify mit v card? -->

        <div>
            <v-text-field class="search"
                          v-model="search"
                          append-icon="mdi-magnify"
                          :label="$t('basics.search')"
                          single-line
                          outlined
                          dense
                          hide-details
                          color="light-blue darken-3"
            ></v-text-field>
        </div>
        <div class="customerTable">
            <v-data-table
                :headers="headers"
                color="light-blue darken-3"
                item-color="light-blue darken-3"
                :items="users"
                :search="search"
                class="elevation-1"
                :footer-props="{
                  itemsPerPageText: $t('adminOverview.footerText'),
                   itemsPerPageOptions:[5,10,15]
                }"

            >

                <template v-slot:top>
                    <v-toolbar flat height="10px" color="white">
                        <v-spacer></v-spacer>
                        <v-dialog v-model="editDialog" max-width="550px">
                            <v-card>
                                <v-card-title>
                                   <span class="headline">
                                       {{ $t('adminOverview.editDialog') }}
                                   </span>
                                </v-card-title>
                                <v-card-text>
                                    <v-form ref="form">
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" md="6">
                                                    <v-text-field
                                                        v-model="editedItem.login"
                                                        :label="$t('basics.username')"
                                                        color="light-blue darken-3"
                                                        readonly
                                                    ></v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="12" md="6">
                                                    <v-text-field
                                                        v-model="editedItem.firstName"
                                                        :label="$t('basics.firstname')"
                                                        color="light-blue darken-3"
                                                        :rules="[rules.noNumbers,rules.required]"
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="6" md="6">
                                                    <v-text-field
                                                        v-model="editedItem.lastName"
                                                        :label="$t('basics.lastname')"
                                                        color="light-blue darken-3"
                                                        :rules="[rules.noNumbers,rules.required]"
                                                    ></v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="6" md="6">
                                                    <v-text-field
                                                        v-model="editedItem.birthday"
                                                        :label="$t('basics.birthday')"
                                                        color="light-blue darken-3"
                                                        readonly
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="6" md="6">
                                                    <v-text-field
                                                        v-model="editedItem.email"
                                                        :label="$t('basics.email')"
                                                        :rules="[rules.emailRule,rules.required]"
                                                        color="light-blue darken-3"

                                                    ></v-text-field>
                                                </v-col>

                                            </v-row>
                                        </v-container>
                                    </v-form>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn  color="red lighten-1" text @click="close">
                                        {{ $t('basics.cancel') }}
                                    </v-btn>
                                    <v-btn color="light-blue darken-3" text @click="saveEdit">
                                        {{ $t('basics.save') }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <v-dialog v-model="dialogDelete" max-width="500px">
                            <v-card>
                                <v-card-title>
                                   <span class="headline">
                                       {{ $t('adminOverview.deleteDialog') }}
                                   </span>
                                </v-card-title>

                                <v-card-text>
                                    {{ $t('adminOverview.deleteText') }}
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        color="red lighten-1"
                                        text
                                        @click="dialogDelete = false"
                                    >{{ $t('basics.cancel') }}
                                    </v-btn>
                                    <v-btn
                                        color="light-blue darken-3"
                                        text
                                        @click="deleteUser"
                                    >{{ $t('basics.delete') }}
                                    </v-btn>

                                </v-card-actions>
                            </v-card>
                        </v-dialog>


                        <v-dialog v-model="createDialog" max-width="550px">
                            <v-card>
                                <v-card-title>
                       <span class="headline">{{
                               $t('adminOverview.createAdmin')
                           }}</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-form ref="createForm">
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" md="6" sm="4">
                                                    <v-text-field
                                                        v-model="firstnameCreate"
                                                        :label="$t('basics.firstname')"
                                                        :rules="[rules.required,rules.noNumbers]"
                                                        color="light-blue darken-3"
                                                        @keydown="blockSpecialChar('input', $event)"
                                                    ></v-text-field>
                                                </v-col>

                                                <v-col cols="6" md="6" sm="4">
                                                    <v-text-field
                                                        v-model="lastnameCreate"
                                                        :label="$t('basics.lastname')"
                                                        :rules="[rules.required,rules.noNumbers]"
                                                        color="light-blue darken-3"
                                                        @keydown="blockSpecialChar('input', $event)"
                                                    ></v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="6" md="6" sm="4">
                                                    <v-menu
                                                        ref="menu"
                                                        v-model="menu"
                                                        :close-on-content-click="false"
                                                        transition="scale-transition"
                                                        offset-y
                                                        min-width="auto"
                                                    >
                                                        <template v-slot:activator="{ on, attrs }">
                                                            <v-text-field
                                                                v-model="birthdayCreate"
                                                                :label="$t('basics.birthday')"
                                                                prepend-icon="mdi-calendar"
                                                                readonly
                                                                v-bind="attrs"
                                                                v-on="on"
                                                                :rules="[rules.required]"
                                                            ></v-text-field>
                                                        </template>
                                                        <v-date-picker
                                                            ref="picker"
                                                            v-model="birthdayCreate"
                                                            :max="new Date().toISOString().substr(0, 10)"
                                                            min="1950-01-01"
                                                            @change="save"
                                                            @input="menu = false"
                                                        ></v-date-picker>
                                                    </v-menu>

                                                </v-col>

                                                <v-col cols="6" md="6" sm="4">
                                                    <v-text-field
                                                        v-model="emailCreate"
                                                        :label="$t('basics.email')"
                                                        :rules="[rules.emailRule,rules.required]"
                                                        color="light-blue darken-3"
                                                        :locale="getLocale"
                                                    ></v-text-field>
                                                </v-col>

                                            </v-row>
                                        </v-container>
                                    </v-form>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="red lighten-1" text @click="closeCreateDialog">
                                        {{ $t('basics.cancel') }}
                                    </v-btn>
                                    <v-btn color="light-blue darken-3" text @click="create">
                                        {{ $t('basics.save') }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>

                        <v-dialog v-model="creationSuccessDialog" max-width="550px">
                            <v-card>
                                <v-card-title>
                                   <span class="headline">{{
                                           $t("adminOverview.createdAdmin")
                                       }}</span>
                                </v-card-title>

                                <v-card-text>{{ $t("adminOverview.createdSuccess") }}</v-card-text>
                                <v-card-text>{{ $t("basics.username") }} {{ username }}</v-card-text>
                                <v-card-text>{{ $t("basics.password") }} {{ pw }}</v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        color="green darken-1"
                                        text
                                        @click="closeDialog"
                                    >
                                        {{ $t("basics.understood") }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-toolbar>
                </template>


                <template v-slot:[`item.actions`]="{ item }">
                    <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-magnify
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                        mdi-eraser
                    </v-icon>
                </template>

                <template v-slot:no-data>
                    {{ $t('adminOverview.noData') }}
                </template>

                <template v-slot:footer.page-text="{ pageStart, pageStop }">
                    {{ pageStart }} {{ $t('adminOverview.from') }} {{ pageStop }}
                </template>


                <template v-slot:no-results>
                    {{ $t('adminOverview.noData') }}
                </template>
            </v-data-table>
        </div>
        <div>
            <v-btn
                class="createBtn"
                color="light-blue darken-3"
                dark
                @click="createDialog=true"
            >
                {{ $t('adminOverview.createAdmin') }}
            </v-btn>
        </div>
        <AdminMenuBar/>
    </div>


</template>

<script>
import AdminMenuBar from "@/components/AdminMenuBar.vue";
import {archiveUser, getAllAdmins, updateAdmin} from '../../services/account';
import {mapGetters} from "vuex";
import {generateRadomPassword} from '../../services/generator';
import {encryptPassword} from '../../services/encrypt';
import {createAdmin} from '../../services/creator';

export default {
    name: "AdminOverview",
    components: {
        AdminMenuBar
    },
    data() {
        return {
            search: "",
            editDialog: false,
            creationSuccessDialog: false,
            username: null,
            pw: "test",
            dialogDelete: false,
            createDialog: false,
            firstnameCreate: "",
            lastnameCreate: "",
            birthdayCreate: null,
            emailCreate: "",
            menu: false,
            itemToDelete: null,
            editedIndex: -1,
            editedItem: {
                firstName: "",
                lastName: "",
                login: "",
                email: "",
                birthday: "",
                id: ""
            },
            defaultItem: {
                firstName: "",
                lastName: "",
                login: "",
                email: "",
                birthday: "",
                id: ""
            },
            rules: {
                onlyNumbers: v => {
                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    for (var i = 0; i < v.length; i++) {
                        if (isNaN(parseFloat(v.charAt(i)))) {
                            return this.$t("rules.noLetters");
                        }
                    }
                },
                emailRule: v =>
                    !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || this.$t("rules.validEmail"),

                required: v => (v || "").length > 0 || this.$t("rules.required"),
                noNumbers: v => {
                    for (var i = 0; i < v.length; i++) {
                    if (isNaN(parseFloat(v.charAt(i)))==false) {
                        return this.$t("rules.noNumbers")
                    }
                    }
                    return true
                },
            },


            users: []

        }
    },
    async created() {
        try {
            let response = await getAllAdmins(this.jwt);
            this.users = response.data;

        } catch (e) {

            console.log(e);
            console.log(e.response);

        }
    },

    watch: {
        dialog(val) {
            val || this.close();
        },
        menu(val) {
            val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
        },
    },
    computed: {

        ...mapGetters("auth", ["jwt"]),

        getLocale() {
            return this.$root.$i18n.locale;
        },
        headers() {
            return [
                {
                    text: this.$t("basics.firstname"),
                    align: "start",
                    value: "firstName"
                },
                {text: this.$t("basics.lastname"), value: "lastName"},
                {text: this.$t("basics.username"), value: "login"},
                {text: this.$t("basics.email"), value: "email"},
                {text: this.$t("basics.birthday"), value: "birthday", sortable: false},


                {
                    text: this.$t("customerOverview.actions"),
                    value: "actions",
                    sortable: false
                }
            ];
        },
    },
    methods: {
        blockSpecialChar(where, e) {
            var num = e.keyCode;
            if((num <= 191 && num>=188) ||  num===50||  num===55 || num===219 || num ===226){
                event.preventDefault();
            }
        },
        editItem(item) {

            this.editedIndex = this.users.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.editDialog = true;
        },
        save(date) {
            this.$refs.menu.save(date)
        },
        deleteItem(item) {
            this.itemToDelete = item;
            this.dialogDelete = true;
        },
        close() {
            this.editDialog = false;

        },
        async saveEdit() {
            if (this.$refs.form.validate()) {

                let editAdmin = this.editedItem;
                try {
                    let response = await updateAdmin(editAdmin.login, this.jwt, editAdmin.firstName, editAdmin.lastName, editAdmin.email);
                    Object.assign(this.users[this.editedIndex], this.editedItem);
                    this.editDialog = false;

                } catch (e) {

                    console.log(e);
                    console.log(e.response);
                }

            }


        },
        async create() {

            if (this.$refs.createForm.validate()) {

                let PW = await generateRadomPassword();
                this.pw = PW;
                let encryptedPW = await encryptPassword(PW);

                try {
                    let response = await createAdmin(this.jwt, this.firstnameCreate, this.lastnameCreate, this.emailCreate, this.birthdayCreate, encryptedPW)
                    this.username = response.data;
                    this.createDialog = false;
                    this.creationSuccessDialog = true;

                    const newAdmin = {
                        firstName: this.firstnameCreate,
                        lastName: this.lastnameCreate,
                        login: this.username,
                        email: this.emailCreate,
                        birthday: this.birthdayCreate
                    };
                    this.users.push(newAdmin);


                } catch (e) {
                    this.createDialog = false;
                    console.log(e);
                    console.log(e.response);
                    this.pw = null;

                }

            }

        },
        closeCreateDialog() {
            this.createDialog = false;
            this.$refs.createForm.reset();
        },
        async deleteUser() {

            try {
                let response = await archiveUser(this.jwt, this.itemToDelete.id);
                const index = this.users.indexOf(this.itemToDelete);
                this.users.splice(index, 1);


            } catch (e) {
                console.log(e);
                console.log(e.response);

            }
            this.dialogDelete = false;
        },
        closeDialog() {
            this.creationSuccessDialog = false;
        }


    }
}
</script>

<style scoped>

#title {
    width: 100%;
    padding-left: 43%;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 150%;
    margin-bottom: 2%;
}

.search {
    width: 12%;
    float: right;
    margin-right: 2% !important;
}

.customerTable {
    margin-top: 2%;
    width: 90%;
    float: right;
    margin-right: 2% !important;
    margin-bottom: 2%;

}

.headline {
    position: relative;
    left: 30%;

}

.createBtn {
    float: right;
    bottom: 2%;
    margin-right: 3%;
    margin-bottom: 2%;
}
</style>

