<template>

    <div class="newCustomer">
        <header>
            <v-chip
                id="title"
                color="light-blue darken-3"
                label
                text-color="white"
                x-large
            >{{ $t("customerCreator.createCustomer") }}
            </v-chip
            >
        </header>

        <v-form ref="form" class="input">


            <v-container>


                <v-row no-gutters>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.firstname") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="firstname"
                            :rules="[rules.noNumbers]"
                            @keydown="blockSpecialChar('input', $event)"
                            class="fields"
                            clearable
                            dense
                            outlined
                        >
                        </v-text-field>
                    </v-col>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.lastname") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="lastname"
                            :rules="[rules.noNumbers]"
                            @keydown="blockSpecialChar('input', $event)"
                            class="fields"
                            clearable
                            dense
                            outlined
                        >
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row class="mb-2" no-gutters>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.birthday") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            max-width="290px"
                            min-width="290px"
                            offset-y
                            transition="scale-transition"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    v-model="birthday"
                                    v-on="on"
                                    :rules="[rules.required]"
                                    class="fields"
                                    color="light-blue darken-3"
                                    dense
                                    outlined
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-bind="attrs"
                                ></v-text-field>
                            </template>

                            <v-date-picker
                                ref="picker"
                                v-model="birthday"
                                :locale="getLocale()"
                                :max="maxDate"
                                color="light-blue darken-3"
                                first-day-of-week="1"
                                @change="save"
                                @input="menu = false"
                            ></v-date-picker>
                        </v-menu>
                    </v-col>

                </v-row>

                <v-row class="mb-2" no-gutters>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.email") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="email"
                            :rules="[rules.required, rules.emailRule]"
                            class="fields"
                            clearable
                            dense
                            outlined
                        >
                        </v-text-field>
                    </v-col>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.telephone") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="telephone"
                            :rules="[rules.onlyNumber]"
                            onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 188 && event.keyCode !== 189 && event.keyCode !== 190"
                            type="Number"
                            class="fields"
                            clearable
                            dense
                            outlined
                        >
                        </v-text-field>
                    </v-col>
                </v-row>

                <v-row class="mb-2" no-gutters>


                    <v-col md="7" sm="6">
                        <v-chip
                            id="banner"
                            color="light-blue darken-3"
                            label
                            text-color="white"
                        >{{ $t("customerCreator.adress") }}
                        </v-chip
                        >
                    </v-col>
                </v-row>

                <v-row no-gutters>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.street") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="street"
                            class="fields"
                            clearable
                            :rules="[rules.noNumbers]"
                            @keydown="blockSpecialChar('input', $event)"
                            dense
                            outlined
                        >
                        </v-text-field>
                    </v-col>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.house") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="houseNumber"
                            :rules="[rules.onlyNumber]"
                            onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 188 && event.keyCode !== 189 && event.keyCode !== 190"
                            class="fields"
                            clearable
                            dense
                            outlined
                            type="Number"
                        >
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.postcode") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="postcode"
                            :rules="[rules.plzRule]"
                            class="fields"
                            onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 188 && event.keyCode !== 189 && event.keyCode !== 190"
                            clearable
                            dense
                            outlined
                            type="Number"
                        >
                        </v-text-field>
                    </v-col>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.city") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="city"
                            :rules="[rules.noNumbers]"
                            @keydown="blockSpecialChar('input', $event)"
                            class="fields"
                            clearable
                            dense
                            outlined
                        >
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.country") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="country"
                            :rules="[rules.noNumbers]"
                            class="fields"
                            clearable
                            dense
                            @keydown="blockSpecialChar('input', $event)"
                            outlined
                        >
                        </v-text-field>
                    </v-col>
                </v-row>

                <v-row no-gutters>
                    <v-col md="3" sm="5">
                    </v-col>
                </v-row>

                <v-row no-gutters>

                </v-row>
                <v-row no-gutters>
                    <v-dialog
                        v-model="dialog"
                        max-width=30%
                        persistent
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                class="button"
                                color="light-blue darken-3"
                                dark

                                @click="createCust()"
                            >
                                {{ $t("basics.create") }}
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title class="headline">{{ $t("customerCreator.createdCustomer") }}</v-card-title>
                            <v-card-text>{{ $t("customerCreator.createdSuccess") }}</v-card-text>


                            <v-card-text>{{ $t("basics.username") }} {{ username }}</v-card-text>
                            <v-card-text>{{ $t("basics.password") }} {{ pw }}</v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="green darken-1"
                                    text
                                    @click="closeDialog"
                                >
                                    {{ $t("basics.understood") }}
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>

            </v-container>
        </v-form>

        <AdminMenuBar/>
    </div>

</template>

<script>
import AdminMenuBar from "@/components/AdminMenuBar.vue";
import {generateRadomPassword} from '../../services/generator';
import {createCustomer} from '../../services/creator';
import {encryptPassword} from '../../services/encrypt';
import {mapGetters} from "vuex";

export default {
    name: "CreateCustomer",
    components: {
        AdminMenuBar
    },
    data() {
        return {

            dialog: false,
            menu2: false,
            firstname: null,
            lastname: null,
            birthday: null,
            email: null,
            telephone: null,
            street: null,
            houseNumber: null,
            city: null,
            postcode: null,
            country: null,

            username: null,
            pw: null,

            menu: false,
            maxDate: new Date().toISOString().slice(0, 10),

            rules: {

                onlyNumber: v => {

                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    if (v < 1) {
                        return this.$t("rules.zeroOrNegative");
                    }
                    return true;
                },

                emailRule: v =>
                    !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || this.$t("rules.validEmail"),
                required: v => (v || "").length > 0 || this.$t("rules.required"),
                plzRule: v => {

                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    if (v < 1) {
                        return this.$t("rules.zeroOrNegative");
                    }
                    if (!(v.length === 5))
                        return this.$t("rules.postcodeLength");
                    return true;
                },
                noNumbers: v => {
                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    for (var i = 0; i < v.length; i++) {
                        if (isNaN(parseFloat(v.charAt(i))) === false) {
                            return this.$t("rules.noNumbers");
                        }
                    }
                    return true;
                }


            },
        }
    },
    methods: {
        async createCust() {
            if (this.$refs.form.validate()) {

                this.dialog = true;
                let PW = await generateRadomPassword();
                this.pw = PW;
                let encryptedPW = await encryptPassword(PW);
                try {
                    let response = await createCustomer(this.jwt, this.firstname, this.lastname, this.email, this.birthday, encryptedPW, this.street, this.houseNumber, this.postcode, this.city, this.country, this.telephone)
                    this.username = response.data;
                    this.dialog = true;


                } catch (e) {
                    this.dialog = false;
                    console.log(e);
                    console.log(e.response);
                    this.pw = null;

                }

            }
        },
        closeDialog() {

            this.dialog = false;
            this.username = null;
            this.pw = null;
            this.$refs.form.reset();
            this.$router.replace({path: "/admin/customerOverview"});

        },
        getLocale() {
            return this.$root.$i18n.locale;
        },
        save(date) {
            this.$refs.menu.save(date);
        },
        blockSpecialChar(where, e) {
            let num = e.keyCode;
            if ((num <= 191 && num >= 188) || num === 50 || num === 55 || num === 219 || num === 226) {
                event.preventDefault();
            }
        }


    },
    computed: {

        ...mapGetters("auth", ["jwt"])

    },
    watch: {
        menu(val) {
            val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
        },
    },
}
</script>

<style scoped>

#title {
    width: 100%;
    padding-left: 40%;
    font-size: 150%;
    margin-bottom: 5%;
}

.button {

    color: white;
    margin-left: 80%;
    width: 20%;
}

.fields {
    margin-right: 10%;
}

#banner {
    width: 80%;
    margin-bottom: 2%;

    padding-left: 40%;
    font-size: 115%;
}

.input {
    width: 70%;
    margin-left: 15%;
}


</style>
