<template>

    <div class="AdminCustomerOverview">

        <header>
            <v-chip
                id="title"
                color="light-blue darken-3"
                label
                text-color="white"
                x-large
            >
                {{ $t('customerOverview.customerOverview') }}
            </v-chip>
        </header>
        <!-- search so lassen oder wie in vuetify mit v card? -->

        <div>
            <v-text-field class="search"
                          v-model="search"
                          append-icon="mdi-magnify"
                          :label="$t('basics.search')"
                          single-line
                          outlined
                          dense
                          hide-details
                          color="light-blue darken-3"
            ></v-text-field>
        </div>
        <div class="customerTable">
            <v-data-table
                :headers="headers"
                color="light-blue darken-3"
                item-color="light-blue darken-3"
                :items="users"
                :search="search"
                class="elevation-1"
                :footer-props="{
                  itemsPerPageText: $t('customerOverview.footerText'),
                   itemsPerPageOptions:[5,10,15]
                }"

            >

                <template v-slot:top>
                    <v-toolbar flat height="10px" color="white">
                        <v-spacer></v-spacer>
                        <v-dialog v-model="editDialog" max-width="550px">
                            <v-card>
                                <v-card-title>
                       <span class="headline">{{
                               $t('customerOverview.editDialog')
                           }}</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-form ref="form">
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" sm="4" md="4">
                                                    <v-text-field
                                                        v-model="editedItem.login"
                                                        :label="$t('basics.username')"
                                                        color="light-blue darken-3"
                                                        readonly
                                                    ></v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="12" sm="4" md="4">
                                                    <v-text-field
                                                        v-model="editedItem.firstName"
                                                        :label="$t('basics.firstname')"
                                                        color="light-blue darken-3"
                                                        :rules="[rules.required,rules.noNumbers]"
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="6" sm="2" md="4">
                                                    <v-text-field
                                                        v-model="editedItem.lastName"
                                                        :label="$t('basics.lastname')"
                                                        color="light-blue darken-3"
                                                        :rules="[rules.required,rules.noNumbers]"
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="6" sm="2" md="4">
                                                    <v-text-field
                                                        v-model="editedItem.birthday"
                                                        :label="$t('basics.birthday')"
                                                        color="light-blue darken-3"
                                                        readonly
                                                    ></v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="12" sm="4" md="4">
                                                    <v-text-field
                                                        v-model="editedItem.street"
                                                        :label="$t('basics.street')"
                                                        color="light-blue darken-3"
                                                        :rules="[rules.required,rules.noNumbers]"
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="6" sm="2" md="4">
                                                    <v-text-field
                                                        v-model="editedItem.house"
                                                        :label="$t('basics.house')"
                                                        color="light-blue darken-3"
                                                        type="Number"
                                                        :rules="[rules.required]"
                                                    ></v-text-field>
                                                </v-col>
                                            </v-row>
                                                <v-row>
                                                <v-col cols="6" sm="2" md="4">
                                                    <v-text-field
                                                        v-model="editedItem.postalCode"
                                                        :label="$t('basics.postcode')"
                                                        color="light-blue darken-3"
                                                        :rules="[rules.required,rules.plzRule]"
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="6" sm="2" md="4">
                                                    <v-text-field
                                                        v-model="editedItem.city"
                                                        :label="$t('basics.city')"
                                                        color="light-blue darken-3"
                                                        :rules="[rules.required,rules.noNumbers]"
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="6" sm="2" md="4">
                                                    <v-text-field
                                                        v-model="editedItem.country"
                                                        :label="$t('basics.country')"
                                                        color="light-blue darken-3"
                                                        :rules="[rules.required,rules.noNumbers]"
                                                    ></v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="6" sm="2" md="4">
                                                    <v-text-field
                                                        v-model="editedItem.iban"
                                                        :label="$t('basics.accountNr')"
                                                        color="light-blue darken-3"
                                                        readonly
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="6" sm="2" md="4">
                                                    <v-text-field
                                                        v-model="editedItem.email"
                                                        :label="$t('basics.email')"
                                                        :rules="[rules.emailRule,rules.required]"
                                                        color="light-blue darken-3"
                                                    ></v-text-field>
                                                </v-col>

                                            </v-row>
                                        </v-container>
                                    </v-form>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="red lighten-1" text @click="close">{{
                                            $t('basics.cancel')
                                        }}
                                    </v-btn>
                                    <v-btn color="light-blue darken-3" text @click="save">{{
                                            $t('basics.save')
                                        }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <v-dialog v-model="dialogDelete" max-width="500px">
                            <v-card>
                                <v-card-title>
                       <span class="headline">{{
                               $t('customerOverview.deleteDialog')
                           }}</span>
                                </v-card-title>

                                <v-card-text>
                                    {{
                                        $t('customerOverview.deleteText')
                                    }}
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        color="red lighten-1"
                                        text
                                        @click="dialogDelete = false"
                                    >{{ $t('basics.cancel') }}
                                    </v-btn>
                                    <v-btn
                                        color="light-blue darken-3"
                                        text
                                        @click="deleteUser"
                                    >{{ $t('basics.delete') }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-toolbar>
                </template>


                <template v-slot:[`item.actions`]="{ item }">
                    <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-magnify
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                        mdi-eraser
                    </v-icon>
                </template>

                <template v-slot:no-data>
                    {{ $t('customerOverview.noData') }}
                </template>

                <template v-slot:footer.page-text="{ pageStart, pageStop }">
                    {{ pageStart }} {{ $t('customerOverview.from') }} {{ pageStop }}
                </template>


                <template v-slot:no-results>
                    {{ $t('customerOverview.noData') }}
                </template>
            </v-data-table>
        </div>
        <div>
            <v-btn
                class="createBtn"
                color="light-blue darken-3"
                dark
                @click="createCustomer()"
            >
                {{ $t('customerOverview.createCustomer') }}
            </v-btn>
        </div>
        <AdminMenuBar/>
    </div>


</template>

<script>
import AdminMenuBar from "@/components/AdminMenuBar.vue";
import {archiveUser, getAllCustomers, updateCustomer} from '../../services/account';
import {mapGetters} from "vuex";

export default {
    name: "CustomerOverview",
    components: {
        AdminMenuBar
    },
    data() {
        return {
            search: "",
            editDialog: false,
            dialogDelete: false,
            itemToDelete: null,
            editedIndex: -1,
            editedItem: {
                login: "",
                firstName: "",
                lastName: "",
                birthday: "",
                email: "",
                telephone: "",
                city: "",
                country: "",
                postalCode: "",
                street: "",
                house: "",
                iban: "",
                id: ""
            },

            defaultItem: {
                login: "",
                firstName: "",
                lastName: "",
                birthday: "",
                email: "",
                telephone: "",
                city: "",
                country: "",
                postalCode: "",
                street: "",
                house: "",
                iban: "",
                id: ""
            },
            rules: {
                onlyNumbers: v => {
                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    for (var i = 0; i < v.length; i++) {
                        if (isNaN(parseFloat(v.charAt(i)))) {
                            return this.$t("rules.noLetters");
                        }
                    }
                },
                emailRule: v =>
                    !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || this.$t("rules.validEmail"),
                required: v => (v || "").length > 0 || this.$t("rules.required"),
                plzRule: v => {

                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    if (v < 1) {
                        return this.$t("rules.zeroOrNegative");
                    }
                    if (!(v.length == 5))
                        return this.$t("rules.postcodeLength");
                    return true;
                },
                noNumbers: v => {
                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    for (var i = 0; i < v.length; i++) {
                        if (isNaN(parseFloat(v.charAt(i))) == false) {
                            return this.$t("rules.noNumbers");
                        }
                    }
                    return true;
                }},

            users: []

        }
    },
    async created() {
        try {
            let response = await getAllCustomers(this.jwt);
            let customers = response.data;
            let cus = [];
            customers.forEach((cust, index) => {
                let c = {
                    login: cust[0].login,
                    firstName: cust[0].firstName,
                    lastName: cust[0].lastName,
                    email: cust[0].email,
                    birthday: cust[0].birthday,
                    street: cust[1].customer.street,
                    house: cust[1].customer.house,
                    postalCode: cust[1].customer.postalCode,
                    city: cust[1].customer.city,
                    country: cust[1].customer.country,
                    phone: cust[1].customer.phone,
                    id: cust[1].customer.userID,
                    iban: cust[1].iban

                };
                cus.push(c);
            });
            this.users = cus;

        } catch (e) {

            console.log(e);
            console.log(e.response);

        }
    },
    watch: {
        dialog(val) {
            val || this.close();
        }
    },
    computed: {
        ...mapGetters("auth", ["jwt"]),

        headers() {
            return [
                {text: this.$t("basics.username"), value: "login", align: "start", sortable: false},
                {
                    text: this.$t("basics.firstname"),
                    align: "start",
                    value: "firstName"
                },
                {text: this.$t("basics.lastname"), value: "lastName"},
                {text: this.$t("basics.accountNr"), value: "iban"},
                {text: this.$t("basics.email"), value: "email"},
                {text: this.$t("basics.birthday"), value: "birthday", sortable: false},


                {
                    text: this.$t("customerOverview.actions"),
                    value: "actions",
                    sortable: false
                }
            ];
        },
    },
    methods: {
        editItem(item) {

            this.editedIndex = this.users.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.editDialog = true;
        },

        deleteItem(item) {
            this.itemToDelete = item;
            this.dialogDelete = true;
        },
        close() {
            this.editDialog = false;

        },
        async save() {


            if (this.$refs.form.validate()) {

                let editCus = this.editedItem;
                try {
                    let response = await updateCustomer(editCus.login, this.jwt, editCus.firstName, editCus.lastName, editCus.email, editCus.street, editCus.house, editCus.postalCode, editCus.city, editCus.country, editCus.telephone);
                    Object.assign(this.users[this.editedIndex], this.editedItem);
                    this.editDialog = false;

                } catch (e) {

                    console.log(e);
                    console.log(e.response);
                }

            }


        },
        async deleteUser() {

            try {
                let response = await archiveUser(this.jwt, this.itemToDelete.id);
                const index = this.users.indexOf(this.itemToDelete);
                this.users.splice(index, 1);


            } catch (e) {
                console.log(e);
                console.log(e.response);

            }
            this.dialogDelete = false;
        },

        createCustomer() {
            this.$router.replace({path: "/admin/create/cust"});

        }
    }
}
</script>

<style scoped>

#title {
    width: 100%;
    padding-left: 43%;
    font-size: 150%;
    margin-bottom: 2%;
}

.search {
    width: 12%;
    float: right;
    margin-right: 2% !important;
}

.customerTable {
    margin-top: 2%;
    width: 90%;
    float: right;
    margin-right: 2% !important;
    margin-bottom: 2%;

}

.headline {
    position: relative;
    left: 30%;

}

.createBtn {
    float: right;
    bottom: 2%;
    margin-right: 3%;
    margin-bottom: 2%;
}
</style>
