<template>
    <div class="logFiles">
        <header>
            <v-chip
                id="title"
                color="light-blue darken-3"
                label
                text-color="white"
                x-large
            >{{ $t("adminLogs.logFile") }}
            </v-chip
            >
        </header>

        <div>
            <v-container class="test">
                <v-form  ref="form">
            <v-row  class="mb-7"
                    justify="end"
                    no-gutters
            >
                <v-col md="2" sm="3"  >
                    <v-menu
                        v-model="dateFromMenu"
                        :close-on-content-click="false"
                        :nudge-left="40"
                        max-width="290px"
                        min-width="290px"
                        offset-y
                        transition="scale-transition"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                v-model="dateFrom"
                                v-on="on"
                                class="dateField"
                                :label="$t('transactionHistory.from')"
                                :rules="[rules.notAfter]"
                                color="light-blue darken-3"
                                prepend-icon="mdi-calendar"
                                readonly

                            ></v-text-field>
                        </template>

                        <v-date-picker
                            v-model="dateFrom"
                            :locale="getLocale()"
                            :max="maxDate"
                            color="light-blue darken-3"
                            first-day-of-week="1"
                            @input="dateFromMenu = false"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col md="2" sm="3">
                    <v-menu
                        v-model="dateToMenu"
                        :close-on-content-click="false"
                        :nudge-left="40"
                        max-width="290px"
                        min-width="290px"
                        offset-y
                        transition="scale-transition"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                v-model="dateTo"
                                v-on="on"
                                :label="$t('transactionHistory.to')"
                               class="dateField"
                                color="light-blue darken-3"
                                prepend-icon="mdi-calendar"
                                readonly

                            ></v-text-field>
                        </template>

                        <v-date-picker
                            v-model="dateTo"
                            :locale="getLocale()"
                            :max="maxDate"
                            color="light-blue darken-3"
                            first-day-of-week="1"
                            @input="dateToMenu = false"
                        ></v-date-picker>
                    </v-menu>

                </v-col>
                <v-col md="1" sm="2">
                    <v-btn
                        id="goButton"
                        color="light-blue darken-3"
                        @click="updateTime()"
                    >
                        {{ $t("basics.load") }}
                    </v-btn>

                </v-col>

            <v-col md="4" sm="6">
                <v-text-field v-model="search"
                              :label="$t('basics.search')"
                              append-icon="mdi-magnify"
                              class="search"
                              color="light-blue darken-3"
                              dense
                              hide-details
                              outlined
                              single-line
                ></v-text-field>
            </v-col>

            </v-row>
                </v-form>
            </v-container>
        </div>

        <div class="customerTable">
            <v-data-table
                :headers="headers"
                :items="logs"
                :items-per-page="10"
                :search="search"
                class="elevation-1"
                color="light-blue darken-3"
                item-color="light-blue darken-3"
                :footer-props="{
                  itemsPerPageText: $t('adminLogs.logsPerPage'),
                   itemsPerPageOptions:[5,10,15]
                }"
            >
                <template v-slot:no-data>
                    {{ $t('adminLogs.noData') }}
                </template>

                <template v-slot:footer.page-text="{ pageStart, pageStop }">
                    {{ pageStart }} {{ $t('adminLogs.from') }} {{ pageStop }}
                </template>


                <template v-slot:no-results>
                    {{ $t('adminLogs.noData') }}
                </template>
            </v-data-table>
        </div>


            <AdminMenuBar/>
        </div>

</template>

<script>
import AdminMenuBar from "@/components/AdminMenuBar.vue";
import {getAuditLogs} from '../../services/logs';
import {mapGetters} from "vuex";

export default {
    name: "LogFiles",
    components: {
        AdminMenuBar
    },
    data() {
        return {
            logs: [],
            search: "",
            dateFrom: null,
            dateTo: new Date().toISOString().slice(0, 10),
            dateFromMenu: false,
            dateToMenu: false,
            maxDate: new Date().toISOString().slice(0, 10),
            rules: {

                notAfter: v => {

                    const from = new Date(v);
                    const to = new Date(this.dateTo);
                    const comparison = to - from;
                    if (comparison <= 0) {
                        return this.$t("rules.FromBeforeTo");
                    }
                    return true;
                }
        }}
    },
    computed: {
        ...mapGetters("auth", ["jwt"]),

        headers() {
            return [
                {text: this.$t("adminLogs.timestamp"), align: "start", value: "timestamp"},
                {text: this.$t("basics.username"), value: "principal"},
                {text: this.$t("adminLogs.status"), value: "type"},
            ];
        },
        fromDateISO() {
            return this.dateFrom + "T00:00:00.00";
        },
        toDateISO() {
            return this.dateTo + "T00:00:00.00";

        }
    },

    async created() {
        let today = new Date();
        today.setDate(today.getDate() - 1);
        this.dateFrom = today.toISOString().slice(0, 10);
        await this.getLogs();
    },
    methods: {

        async getLogs() {
            try {
                let response = await getAuditLogs(this.jwt, this.dateFrom, this.dateTo);
                this.logs = response.data;

            } catch (e) {

                console.log(e);
                console.log(e.response);
            }

        },
        getLocale() {
            return this.$root.$i18n.locale;
        },
        async updateTime() {
            if (this.$refs.form.validate()) {
                await this.getLogs();

            }
        }
    }

}
</script>

<style scoped>
#title {
    width: 100%;
    padding-left: 46%;
    font-size: 150%;
    margin-bottom: 3%;
}

.search {
    width: 45% !important;
    float: right;
    margin-right: 4% !important;
}

.customerTable {
    margin-top: 2%;
    width: 90%;
    float: right;
    margin-right: 2%!important;
    margin-bottom: 2%;

}
.test{
    padding-left: 10%;
}
#goButton {
    color: white;
}
.dateField {
    margin-bottom: 3%;
}

</style>
