<template>

    <div class="customerAccount">

        <header>
            <v-chip
                id="title"
                color="light-blue darken-3"
                label
                text-color="white"
                x-large
            >{{ $t("customerAccount.customerAccount") }}
            </v-chip
            >
        </header>

        <v-form ref="form" class="input">

            <h1 class="accountNR">{{ accountTitle }}</h1>


            <v-container>


                <v-row no-gutters>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.firstname") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="firstname"
                            class="fields"
                            dense
                            disabled
                            outlined
                        >
                        </v-text-field>
                    </v-col>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.lastname") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="lastname"
                            :rules="[rules.noNumbers]"
                            class="fields"
                            dense
                            disabled
                            outlined
                            @keydown="blockSpecialChar('input', $event)"
                        >
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row class="mb-2" no-gutters>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.birthday") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">

                        <v-text-field
                            v-model="birthday"
                            :rules="[rules.required]"
                            class="fields"
                            color="light-blue darken-3"
                            dense
                            disabled
                            outlined
                            prepend-icon="mdi-calendar"
                            readonly
                        ></v-text-field>
                    </v-col>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.username") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="username"
                            class="fields"
                            dense
                            disabled
                            outlined
                        
                        >
                        </v-text-field>
                    </v-col>
                

                    

                </v-row>

                <v-row class="mb-2" no-gutters>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.email") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="email"
                            :disabled="!toggleDisable"
                            :rules="[rules.required, rules.emailRule]"
                            class="fields"
                            clearable
                            dense
                            outlined
                        >
                        </v-text-field>
                    </v-col>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.telephone") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="telephone"
                            :disabled="!toggleDisable"
                            :rules="[rules.onlyNumber]"
                            class="fields"
                            clearable
                            dense
                            onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 188 && event.keyCode !== 189 && event.keyCode !== 190"
                            outlined
                            type="Number"
                        >
                        </v-text-field>
                    </v-col>
                </v-row>

                <v-row class="mb-2" no-gutters>


                    <v-col md="7" sm="6">
                        <v-chip
                            id="banner"
                            color="light-blue darken-3"
                            label
                            text-color="white"
                        >{{ $t("customerCreator.adress") }}
                        </v-chip
                        >
                    </v-col>
                </v-row>

                <v-row no-gutters>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.street") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="street"
                            :disabled="!toggleDisable"
                            :rules="[rules.noNumbers]"
                            class="fields"
                            clearable
                            dense
                            outlined
                            @keydown="blockSpecialChar('input', $event)"
                        >
                        </v-text-field>
                    </v-col>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.house") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="houseNumber"
                            :disabled="!toggleDisable"
                            :rules="[rules.onlyNumber]"
                            class="fields"
                            clearable
                            dense
                            onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 188 && event.keyCode !== 189 && event.keyCode !== 190"
                            outlined
                            type="Number"
                        >
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.postcode") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="postcode"
                            :disabled="!toggleDisable"
                            :rules="[rules.plzRule]"
                            class="fields"
                            clearable
                            dense
                            onkeydown="return event.keyCode !== 69 && event.keyCode !== 187 && event.keyCode !== 188 && event.keyCode !== 189 && event.keyCode !== 190"
                            outlined
                            type="Number"
                        >
                        </v-text-field>
                    </v-col>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.city") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="city"
                            :disabled="!toggleDisable"
                            :rules="[rules.noNumbers]"
                            class="fields"
                            clearable
                            dense
                            outlined
                            @keydown="blockSpecialChar('input', $event)"
                        >
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col md="3" sm="5">
                        <p>{{ $t("basics.country") }}</p>
                    </v-col>
                    <v-col md="3" sm="5">
                        <v-text-field
                            v-model="country"
                            :disabled="!toggleDisable"
                            :rules="[rules.noNumbers]"
                            class="fields"
                            clearable
                            dense
                            outlined
                            @keydown="blockSpecialChar('input', $event)"
                        >
                        </v-text-field>
                    </v-col>
                </v-row>


                <v-row no-gutters>


                    <v-btn
                        v-if="this.edit == false"
                        class="lBtn"
                        color="light-blue darken-3"
                        dark
                        large
                        @click="toggleMethod()"
                    >
                        {{ $t("basics.edit") }}
                    </v-btn>
                    <v-btn
                        v-else
                        class="lBtn"
                        color="red lighten-1"
                        dark
                        large
                        @click="toggleMethod()"
                    >
                        {{ $t("basics.cancel") }}
                    </v-btn>

                    <v-btn
                        id="rBtn"
                        color="light-blue darken-3"
                        dark
                        large
                        @click="onSaveButton()"
                    >
                        {{ $t("basics.save") }}
                    </v-btn>


                </v-row>

            </v-container>
        </v-form>
        <CustomerMenuBar/>
    </div>


</template>

<script>
import CustomerMenuBar from "@/components/CustomerMenuBar.vue";

export default {
    name: "CustomerAccount",
    components: {
        CustomerMenuBar
    },
    data() {
        return {
            firstname: null,
            lastname: null,
            birthday: null,
            email: null,
            telephone: 34567890,
            street: null,
            houseNumber: null,
            city: null,
            postcode: null,
            country: null,
            accountNumber: 3456789098765,
            edit: false,
            toggleDisable: false,
            emailSafe: null,
            telephoneSafe: null,
            streetSafe: null,
            houseNumberSafe: null,
            citySafe: null,
            postcodeSafe: null,
            countrySafe: null,

            rules: {

                onlyNumber: v => {

                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    if (v < 1) {
                        return this.$t("rules.zeroOrNegative");
                    }
                    return true;
                },

                emailRule: v =>
                    !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || this.$t("rules.validEmail"),
                required: v => (v || "").length > 0 || this.$t("rules.required"),
                plzRule: v => {

                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    if (v < 1) {
                        return this.$t("rules.zeroOrNegative");
                    }
                    if (!(v.length == 5))
                        return this.$t("rules.postcodeLength");
                    return true;
                },
                noNumbers: v => {
                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    for (var i = 0; i < v.length; i++) {
                        if (isNaN(parseFloat(v.charAt(i))) == false) {
                            return this.$t("rules.noNumbers");
                        }
                    }
                    return true;
                }


            },
        }
    },
    computed: {

        accountTitle() {

            return this.$t("basics.accountNr") + " " + this.accountNumber;

        }

    },
    methods: {
        blockSpecialChar(where, e) {
            var num = e.keyCode;
            if ((num <= 191 && num >= 188) || num === 50 || num === 55 || num === 219 || num === 226) {
                event.preventDefault();
            }
        },
        toggleMethod() {
            this.toggleDisable = true;

            if (this.edit === false) {
                this.edit = true;
                this.emailSafe = this.email;
                this.telephoneSafe = this.telephone;
                this.streetSafe = this.street;
                this.houseNumberSafe = this.houseNumber;
                this.citySafe = this.city;
                this.postcodeSafe = this.postcode;
                this.countrySafe = this.country;
            } else {
                this.email = this.emailSafe;
                this.telephone = this.telephoneSafe;
                this.street = this.streetSafe;
                this.houseNumber = this.houseNumberSafe;
                this.city = this.citySafe;
                this.postcode = this.postcodeSafe;
                this.country = this.countrySafe;
                this.$refs.form.resetValidation();
                this.edit = false;
                this.toggleDisable = false;
            }
        },
        onSaveButton() {
            if (this.$refs.form.validate()) {

            }

        }
    }
}
</script>

<style scoped>

#title {
    width: 100%;
    padding-left: 40%;
    font-size: 150%;
    margin-bottom: 5%;
}

.lBtn {
    width: 15%;
    margin-left: 60%;
    float: right;
}

#rBtn {
    width: 15%;
    margin-left: 5%;
    float: right;
}

.fields {
    margin-right: 10%;
}

.accountNR {
    margin-left: 1%;
}

#banner {
    width: 80%;
    margin-bottom: 2%;

    padding-left: 40%;
    font-size: 115%;
}

.input {
    width: 70%;
    margin-left: 15%;
}

</style>
