<template>
    <div class="newTransaction">
        <header>
            <v-chip
                id="title"
                color="light-blue darken-3"
                label
                text-color="white"
                x-large
            >{{ $t("newTransaction.newTransaction") }}
            </v-chip
            >
        </header>
        <h3 class="text-center"> <b>{{ $t("newTransaction.subtitle") }}</b></h3>
        <div class="details">
            <v-form ref="form">
                <v-container>



                    <v-row class="mb-2" no-gutters>
                        <v-col md="4" sm="5">
                            <v-subheader class="subheader">{{ $t("newTransaction.beneficiary") }}</v-subheader>
                        </v-col>
                        <v-col md="3" offset-md="0" offset-sm="2" sm="5">
                            <v-text-field
                                v-model="beneficiary"
                                clearable
                                color="light-blue darken-3"
                                dense
                                outlined
                                @keydown="blockSpecialChar('input', $event)"
                                :rules="[rules.required]"
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>


                    <v-row class="mb-2" no-gutters>
                        <v-col md="4" sm="5">
                            <v-subheader class="subheader"> {{ $t("newTransaction.account") }}</v-subheader>
                        </v-col>
                        <v-col md="3" offset-md="0" offset-sm="2" sm="5">
                            <v-text-field
                                v-model="iban"
                                clearable
                                color="light-blue darken-3"
                                dense
                                outlined
                                @keydown="blockSpecialChar('input', $event)"
                                :rules="[rules.required]"
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row class="mb-2" no-gutters>
                        <v-col md="4" sm="5">
                            <v-subheader class="subheader">{{ $t("newTransaction.amount") }}</v-subheader>
                        </v-col>
                        <v-col md="3" offset-md="0" offset-sm="2" sm="5">
                            <v-text-field
                                v-model="amount"
                                clearable
                                color="light-blue darken-3"
                                dense
                                type="number"
                                outlined
                                :rules="[rules.required, rules.amount]"
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row class="mb-2" no-gutters>
                        <v-col md="4" sm="5">
                            <v-subheader class="subheader">{{ $t("newTransaction.usage") }}</v-subheader>
                        </v-col>
                        <v-col md="3" offset-md="0" offset-sm="2" sm="5">
                            <v-text-field
                                v-model="usage"
                                clearable
                                color="light-blue darken-3"
                                dense
                                outlined
                                @keydown="blockSpecialChar('input', $event)"
                                :rules="[rules.required]"
                            >
                            </v-text-field>
                        </v-col>
                    </v-row>
                        <v-row class="mb-2" no-gutters>
                            <v-col md="4" sm="5">
                                <v-subheader class="subheader">{{ $t("newTransaction.standingOrder") }}</v-subheader>
                            </v-col>
                            <v-col md="2" offset-md="1" offset-sm="2" sm="5">
                                <v-select
                                    v-model="standingOrder"
                                    clearable
                                    :items="fillSelect()"
                                    color="light-blue darken-3"
                                    dense
                                    outlined
                                    @keydown="blockSpecialChar('input', $event)"
                                    :rules="[rules.required]"
                                >


                                </v-select>
                            </v-col>
                    </v-row>
                    <v-row class="mb-2" no-gutters v-if="checkStandingOrder()">

                        <v-col md="4" sm="5">
                            <v-subheader class="subheader">{{ $t("newTransaction.pickDay") }}</v-subheader>
                        </v-col>
                        <v-col md="2" offset-md="1" offset-sm="2" sm="5" >
                            <v-text-field
                                v-model="day"
                                clearable
                                color="light-blue darken-3"
                                dense
                                type="number"
                                outlined
                                :rules="[rules.required, rules.day]"
                                @keydown="blockSpecialChar('input', $event)"
                            >
                            </v-text-field>

                        </v-col>

                    </v-row>
                    <v-row class="mb-2" no-gutters>


                        <v-col md="7" offset-md="0" offset-sm="2" sm="7" >
                            <v-btn
                                class="button"
                                color="light-blue darken-3"
                                @click="transfer()"
                            >
                                {{ $t("newTransaction.transfer") }}
                            </v-btn>

                        </v-col>

                    </v-row>
                </v-container>
            </v-form>
        </div>

        <CustomerMenuBar/>

    </div>

</template>

<script>
import CustomerMenuBar from "@/components/CustomerMenuBar.vue";

export default {
    name: "NewTransaction",
    components: {
        CustomerMenuBar
    },
    data() {
        return {
            beneficiary: "",
            iban: "",
            amount:"",
            usage:"",
            standingOrder:"",
            day:"",
            rules: {
                required: v => (v || "").length > 0 || this.$t("rules.required"),
                day: v =>{
                    if(v > 28 || v <=0){
                        return this.$t("rules.dayRule");
                    }
                    return true;
                },
                amount: v =>{
                    if( v <=0){
                        return this.$t("rules.amountRule");
                    }
                    return true;
                }

            }
        }
    },
    methods:{
        fillSelect(){
            var item1 = this.$i18n.t("basics.yes");
            var item2 = this.$i18n.t("basics.no");

            var itemges = [item1, item2];
            return itemges;
        },
        checkStandingOrder(){

            if(this.standingOrder === this.$i18n.t("basics.yes")){
                return true;
            }

            return false;
        },
        blockSpecialChar(where, e) {
            var num = e.keyCode;
            if ((num <= 191 && num >= 188) || num === 50 || num === 55 || num === 219 || num === 226) {
                event.preventDefault();
            }
        },
        transfer(){
            if (this.$refs.form.validate()) {
                this.$refs.form.reset();
                this.$router.replace({path: "/cust/transaction/history"});
            }
        },


    },
    mounted() {
        this.$watch("$i18n.locale", (newLocale, oldLocale) => {
            if (!(newLocale === oldLocale)) {
                this.$refs.form.resetValidation();
            }
        });}
}
</script>

<style scoped>
#title {
    width: 100%;
    padding-left: 46%;
    font-size: 150%;
    margin-bottom: 3%;
}

.details {
    width: 100%;
    padding-left: 32%;
    margin-top: 6%;
    margin-bottom: 2%;
}
.subheader{
    font-size: large;
    color: #212529;
}
.button {

    color: white;
    margin-left: 73%;
    width: 28%;
    margin-top: 5%;
}

</style>
