<template>

    <div class="standingTransactions">
        <header>
            <v-chip
                id="title"
                color="light-blue darken-3"
                label
                text-color="white"
                x-large
            >
                {{ $t('standingTransactions.standingTransactions') }}
            </v-chip>
        </header>
        <div>
            <v-text-field class="search"
                          v-model="search"
                          append-icon="mdi-magnify"
                          :label="$t('basics.search')"
                          single-line
                          outlined
                          dense
                          hide-details
                          color="light-blue darken-3"
            ></v-text-field>
        </div>
<div class="standingTransactionsTable">
            <v-data-table
                :headers="headers"
                color="light-blue darken-3"
                item-color="light-blue darken-3"
                :items="standingTransactions"
                :search="search"
                class="elevation-1"
                :footer-props="{
                  itemsPerPageText: $t('standingTransactions.footerText'),
                   itemsPerPageOptions:[5,10,15]
                }"

            >

                <template v-slot:top>
                    <v-toolbar flat height="10px" color="white">
                        <v-spacer></v-spacer>
                        <v-dialog v-model="editDialog" max-width="550px">
                            <v-card>
                                <v-card-title>
                       <span class="headline">{{
                               $t('standingTransactions.editDialog')
                           }}</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-form ref="form">
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" md="6" sm="4">
                                                    <v-text-field
                                                        v-model="editedItem.receiver"
                                                        :label="$t('standingTransactions.receiver')"
                                                        color="light-blue darken-3"
                                                        readonly
                                                    ></v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="12" md="6" sm="4">
                                                    <v-text-field
                                                        v-model="editedItem.iban"
                                                        :label="$t('basics.accountNr')"
                                                        color="light-blue darken-3"
                                                        readonly
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="6" md="6" sm="4">
                                                    <v-text-field
                                                        v-model="editedItem.day"
                                                        :label="$t('standingTransactions.day')"
                                                        color="light-blue darken-3"
                                                        :rules="[rules.required,rules.onlyNumbers,rules.onlyNumbersbelow28]"
                                                    ></v-text-field>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="6" md="6" sm="4">
                                                    <v-text-field
                                                        v-model="editedItem.amount"
                                                        :label="$t('standingTransactions.amount')"
                                                        color="light-blue darken-3"
                                                         :rules="[rules.required,rules.onlyNumbers]"
                                                    ></v-text-field>
                                                </v-col>
                                                <v-col cols="6" md="6" sm="4">
                                                    <v-text-field
                                                        v-model="editedItem.usage"
                                                        :label="$t('standingTransactions.usage')"
                                                        color="light-blue darken-3"

                                                    ></v-text-field>
                                                </v-col>

                                            </v-row>
                                        </v-container>
                                    </v-form>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn  color="red lighten-1" text @click="close">
                                        {{ $t('basics.cancel') }}
                                    </v-btn>
                                    <v-btn color="light-blue darken-3" text @click="saveEdit">
                                        {{ $t('basics.save') }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <v-dialog v-model="dialogDelete" max-width="500px">
                            <v-card>
                                <v-card-title>
                                   <span class="headline">
                                       {{ $t('standingTransactions.deleteDialog') }}
                                   </span>
                                </v-card-title>

                                <v-card-text>
                                    {{
                                        $t('standingTransactions.deleteText')
                                    }}
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        color="red lighten-1"
                                        text
                                        @click="dialogDelete = false"
                                    >{{ $t('basics.cancel') }}
                                    </v-btn>
                                    <v-btn
                                        color="light-blue darken-3"
                                        text
                                        @click="deleteUser"
                                    >{{ $t('basics.delete') }}
                                    </v-btn>

                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-toolbar>
                </template>


                <template v-slot:[`item.actions`]="{ item }">
                    <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-magnify
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                        mdi-eraser
                    </v-icon>
                </template>

                <template v-slot:no-data>
                    {{ $t('standingTransactions.noData') }}
                </template>

                <template v-slot:footer.page-text="{ pageStart, pageStop }">
                    {{ pageStart }} {{ $t('standingTransactions.from') }} {{ pageStop }}
                </template>


                <template v-slot:no-results>
                    {{ $t('standingTransactions.noData') }}
                </template>
            </v-data-table>
        </div>
        <CustomerMenuBar/>

    </div>
</template>

<script>
import CustomerMenuBar from "@/components/CustomerMenuBar.vue";

export default {
    name: "StandingTransactions",
    components: {
        CustomerMenuBar
    },
    data() {
        return {
            search: "",
            editDialog: false,
            dialogDelete: false,
            menu: false,
            itemToDelete: null,
            editedIndex: -1,
            editedItem: {
                receiver: "",
                iban: "",
                day: "",
                amount: "",
                usage: "",

            },
            defaultItem: {
                receiver: "",
                iban: "",
                day: "",
                amount: "",
                usage: "",
            },
            rules: {
                 onlyNumbers: v => {
                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    for (var i = 0; i < v.length; i++) {
                        if (isNaN(parseFloat(v.charAt(i)))) {
                            return this.$t("rules.noLetters");
                        }
                    }
                },
               required: v => (v || "").length > 0 || this.$t("rules.required"),
                noNumbers: v => {
                    for (var i = 0; i < v.length; i++) {
                    if (isNaN(parseFloat(v.charAt(i)))==false) {
                        return this.$t("rules.noNumbers")
                    }
                }
                    return true},
                    onlyNumbersbelow28: v => {
                    if (!((v || "").length > 0)) {
                        return this.$t("rules.required");
                    }
                    for (var i = 0; i < v.length; i++) {
                        if (isNaN(parseFloat(v.charAt(i)))) {
                            return this.$t("rules.noLetters");
                        }
                        if(v>28)
                        {
                            return this.$t("rules.numberNotBelow28")
                        }
                    }
                }
            },


            standingTransactions: [
                {
                    receiver: "Julian",
                    iban: "1234123123213",
                    day: "31",
                    amount: "30",
                    usage: "Spende"
                },


            ]

        }
    },
    watch: {
        dialog(val) {
            val || this.close();
        },
        menu(val) {
            val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
        },
    },
    computed: {

        getLocale() {
            var language = this.$root.$i18n.locale;
            return language;
        },
        headers() {
            return [
                {
                    text: this.$t("standingTransactions.receiver"),
                    align: "start",
                    value: "receiver"
                },
                {text: this.$t("basics.accountNr"), value: "iban"},
                {text: this.$t("standingTransactions.day"), value: "day"},
                {text: this.$t("standingTransactions.amount"), value: "amount"},
                {text: this.$t("standingTransactions.usage"), value: "usage"},
                {text: this.$t("standingTransactions.actions"), value: "actions", sortable: false},


            ];
        },
    },
    methods: {
        blockSpecialChar(where, e) {
            var num = e.keyCode;
            if((num <= 191 && num>=188) ||  num===50||  num===55 || num===219 || num ===226){
                event.preventDefault();
            }
        },
        editItem(item) {

            this.editedIndex = this.standingTransactions.indexOf(item);
            this.editedItem = Object.assign({}, item);
            this.editDialog = true;
        },
        save(date) {
            this.$refs.menu.save(date)
        },
        deleteItem(item) {
            this.itemToDelete = item;
            this.dialogDelete = true;
        },
        close() {
            this.editDialog = false;

        },
        saveEdit() {
            if (this.$refs.form.validate()) {
                Object.assign(this.standingTransactions[this.editedIndex], this.editedItem);
                this.editDialog = false;
            }


        },
        create() {

            if (this.$refs.createForm.validate()) {
                console.log("Create Admin");
                this.createDialog = false;
                const newAdmin={
                        firstname: this.firstnameCreate,
                        name: this.lastnameCreate,
                        username: "",
                        email: this.emailCreate,
                        birthday: this.birthdayCreate
                    };

                this.users.push(newAdmin);
                this.$refs.createForm.reset();
            }

        },
        closeCreateDialog() {
            this.createDialog = false;
            this.$refs.createForm.reset();
        },
        deleteUser() {
            this.dialogDelete = false;
            const index = this.standingTransactions.indexOf(this.itemToDelete);
            this.standingTransactions.splice(index, 1);
        },

    }
}
</script>

<style scoped>
#title {
    width: 100%;
    padding-left: 43%;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 150%;
    margin-bottom: 2%;
}

.search {
    width: 12%;
    float: right;
    margin-right: 2% !important;
}

.standingTransactionsTable {
    margin-top: 2%;
    width: 90%;
    float: right;
    margin-right: 2% !important;
    margin-bottom: 2%;

}

.headline {
    position: relative;
    left: 30%;

}
</style>
