<template>
    <div class="transactionHistory">
        <header>
            <v-chip
                id="title"
                color="light-blue darken-3"
                label
                text-color="white"
                x-large
            >{{ $t("transactionHistory.transactionHistory") }}
            </v-chip
            >
        </header>

        <div class="body">

            <div class="history">

                <h1>{{ balance }}</h1>

                <v-timeline
                    clipped
                    dense
                    hide-on-leave
                >

                    <v-timeline-item
                        v-for="event in timeline"
                        :key="event.id"
                        :color=calcColor(event.amount)
                        class="mb-4"
                        small
                        fill-dot
                    >
                        <v-row justify="space-between">
                            <v-col
                                class="date"
                                cols="2"
                                v-text="event.amount"
                            ></v-col>
                            <v-col
                                cols="7"
                            >
                                <v-expansion-panels accordion flat>
                                    <v-expansion-panel>
                                        <v-expansion-panel-header>{{ event.usage }}</v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-row justify="space-between">
                                                <v-col
                                                    cols="2"
                                                >{{ $t("transactionHistory.receiver") }}
                                                </v-col>
                                                <v-col
                                                    cols="5"
                                                >{{ event.name }}
                                                </v-col>
                                            </v-row>

                                            <v-row justify="space-between">
                                                <v-col
                                                    cols="2"
                                                >{{ $t("transactionHistory.accountNr") }}
                                                </v-col>
                                                <v-col
                                                    cols="5"
                                                >{{ event.accountNr }}
                                                </v-col>
                                            </v-row>

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>
                            </v-col>
                            <v-col
                                class="date"
                                cols="3"
                                v-text="event.date"
                            ></v-col>
                        </v-row>
                        <v-row justify="space-between">

                        </v-row>
                    </v-timeline-item>


                </v-timeline>

                <v-btn
                    v-show="fab"
                    v-scroll="onScroll"
                    bottom
                    color="light-blue darken-3"
                    dark
                    fab
                    fixed
                    right
                    @click="toTop"
                >
                    <v-icon>mdi-arrow-up</v-icon>
                </v-btn>

            </div>

            <div class="pickers">
                <v-row justify="space-between">
                    <h2 class="dateHeader">{{ $t('transactionHistory.timePeriod') }}</h2>
                </v-row>
                <v-row>

                </v-row>
                <v-form ref="form">
                    <v-row justify="space-between">

                        <v-menu
                            v-model="dateFromMenu"
                            :close-on-content-click="false"
                            :nudge-left="40"
                            class="datePicker"
                            max-width="290px"
                            min-width="290px"
                            offset-y
                            transition="scale-transition"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="dateFrom"
                                    v-on="on"
                                    :label="$t('transactionHistory.from')"
                                    :rules="[rules.notAfter]"
                                    class="dateField"
                                    color="light-blue darken-3"
                                    prepend-icon="mdi-calendar"
                                    readonly

                                ></v-text-field>
                            </template>

                            <v-date-picker
                                v-model="dateFrom"
                                :locale="getLocale()"
                                :max="maxDate"
                                color="light-blue darken-3"
                                first-day-of-week="1"
                                @input="dateFromMenu = false"
                            ></v-date-picker>
                        </v-menu>


                    </v-row>

                    <v-row justify="space-between">

                        <v-menu
                            v-model="dateToMenu"
                            :close-on-content-click="false"
                            :nudge-left="40"
                            class="datePicker"
                            max-width="290px"
                            min-width="290px"
                            offset-y
                            transition="scale-transition"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="dateTo"
                                    v-on="on"
                                    :label="$t('transactionHistory.to')"
                                    class="dateField"
                                    color="light-blue darken-3"
                                    prepend-icon="mdi-calendar"
                                    readonly

                                ></v-text-field>
                            </template>

                            <v-date-picker
                                v-model="dateTo"
                                :locale="getLocale()"
                                :max="maxDate"
                                color="light-blue darken-3"
                                first-day-of-week="1"
                                @input="dateToMenu = false"
                            ></v-date-picker>
                        </v-menu>

                    </v-row>
                    <v-row justify="space-between">
                        <v-btn
                            id="goButton"
                            color="light-blue darken-3"
                            @click="updateTime()"
                        >
                            {{ $t("basics.load") }}
                        </v-btn>

                    </v-row>
                </v-form>

            </div>
        </div>

        <CustomerMenuBar/>

    </div>

</template>

<script>
import CustomerMenuBar from "@/components/CustomerMenuBar.vue";

export default {
    name: "TransactionHistory",
    components: {
        CustomerMenuBar
    },
    data() {
        return {
            balanceAmount: "40000 €",
            fab: false,
            dateFrom: null,
            dateTo: new Date().toISOString().slice(0, 10),
            dateFromMenu: false,
            dateToMenu: false,
            maxDate: new Date().toISOString().slice(0, 10),
            transactions: [
                {
                    id: 12,
                    date: "12-12-2081 15:23:12",
                    amount: "87,78 €",
                    usage: "Bezahlung für Birthday",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
                {
                    id: 33,
                    date: "12-12-2070 15:23:12",
                    amount: "-87,78 €",
                    usage: "Bezahlung für Birthday",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
                {
                    id: 15,
                    date: "12-12-2081 15:23:12",
                    amount: "7,00 €",
                    usage: "Bezahlung für Birthday",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
                {
                    id: 3,
                    date: "12-12-2070 15:23:12",
                    amount: "-8,78 €",
                    usage: "sdsd",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
                {
                    id: 42,
                    date: "12-12-2081 15:23:12",
                    amount: "87,78 €",
                    usage: "Carina",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
                {
                    id: 43,
                    date: "12-12-2070 15:23:12",
                    amount: "-87,78 €",
                    usage: "Bezahlung für Birthday",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
                {
                    id: 1,
                    date: "12-12-2081 15:23:12",
                    amount: "87,78 €",
                    usage: "Bezahlung für Birthday",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
                {
                    id: 1532,
                    date: "12-12-2081 15:23:12",
                    amount: "87,78 €",
                    usage: "Bezahlung für Birthday",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
                {
                    id: 1432,
                    date: "12-12-2081 15:23:12",
                    amount: "87,78 €",
                    usage: "Bezahlung für Birthday",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
                {
                    id: 1372,
                    date: "12-12-2081 15:23:12",
                    amount: "87,78 €",
                    usage: "Bezahlung für Birthday",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
                {
                    id: 172,
                    date: "12-12-2081 15:23:12",
                    amount: "87,78 €",
                    usage: "Bezahlung für Birthday",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
                {
                    id: 132,
                    date: "12-12-2081 15:23:12",
                    amount: "87,78 €",
                    usage: "Bezahlung für Birthday",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
                {
                    id: 142,
                    date: "12-12-2081 15:23:12",
                    amount: "87,78 €",
                    usage: "Bezahlung für Birthday",
                    name: "Max Musterman",
                    accountNr: 4567898765456,

                },
            ],
            input: null,
            nonce: 0,
            rules: {

                notAfter: v => {

                    const from = new Date(v);
                    const to = new Date(this.dateTo);
                    const comparison = to - from;
                    if (comparison <= 0) {
                        return this.$t("rules.FromBeforeTo");
                    }
                    return true;
                }
            }
        }
    },
    created() {
        let today = new Date();
        today.setDate(today.getDate() - 1);
        this.dateFrom = today.toISOString().slice(0, 10);
    },
    computed: {
        timeline() {
            return this.transactions.slice().reverse()
        },
        balance() {
            return this.$t("transactionHistory.balance") + " " + this.balanceAmount;
        },
        fromDateISO() {
            return this.dateFrom + "T00:00:00.00";
        },
        toDateISO() {
            return this.dateTo + "T00:00:00.00";

        },

    },

    methods: {

        calcColor(amount) {

            if (amount.charAt(0) === "-") {
                return "red";
            }
            return "green";
        },
        onScroll(e) {
            if (typeof window === 'undefined') return
            const top = window.pageYOffset || e.target.scrollTop || 0
            this.fab = top > 20
        },
        toTop() {
            this.$vuetify.goTo(0)
        },
        getLocale() {
            return this.$root.$i18n.locale;
        },
        updateTime() {
            if (this.$refs.form.validate()) {


            }

        }

    },


}
</script>

<style scoped>
#title {
    width: 100%;
    padding-left: 46%;
    font-size: 150%;
    margin-bottom: 3%;
}

#goButton {
    color: white;
}

.body {
    width: 70%;
    margin-left: 15%;
}

.date {
    margin-top: 1%;
}

.pickers {
    width: 15%;
    float: right;
}

.history {
    width: 80%;
    float: left;
}

.dateField {
    margin-bottom: 5%;
}

.dateHeader {
    margin-bottom: 40%;
    margin-top: 20%;
}

</style>
